In [10]:
# Import
import pandas as pd
import numpy as np

In [ ]:
# Read starting inventory file

In [2]:
# Read transaction file
dT = pd.read_csv(r'C:\Users\win7\Documents\Fonte_data\transaction_data_2021_12_15.csv')
# Drop useless columns
dT = dT.iloc[:, 1:3+1]
dT.head()

   TAS_ID  REVERSE_TAS_ID1 Textbox58
0      10              210    122,78
1      10              210     19,04
2      10              210    235,14
3   10010               10    435,40
4   10010               47     31,10

In [3]:
# Keep rows if destination is to "Eglise"
eglisePorts = [i for i in range(900,950)]
dT = dT[dT['REVERSE_TAS_ID1'].isin(eglisePorts)]
dT.head()

    TAS_ID  REVERSE_TAS_ID1 Textbox58
8      165              908     27,35
42   20001              903     31,62
43   20001              903     31,68
63     250              913    190,00
64     250              914     30,00

In [4]:
# Assign a shipper code to source port number
shipID = pd.read_csv(r'C:\Users\win7\Documents\Fonte_data\sourcePort_to_shipperId.csv')
shipID.head()

  ShipperID  SourcePort
0       BCM         304
1       PYR         498
2       NMP         520
3       NMP         521

In [5]:
# Create dictionary
shipID_dict = shipID.set_index('SourcePort')['ShipperID'].to_dict()
# This also works
# shipID_dict = dict(zip(shipID['SourcePort'], shipID['ShipperID']))

In [9]:
# Map shipperID to transactions
dT['shipperID'] = dT['TAS_ID'].map(shipID_dict)
dT[dT['shipperID'].notnull()]

    TAS_ID  REVERSE_TAS_ID1 Textbox58 shipperID
70     304              918     93,68       BCM
71     304              919     57,62       BCM
80     498              918    101,86       PYR
81     498              919     41,35       PYR
90     521              920     32,39       NMP