In [1]:
'''
Todo: Add more lines in the relation C:\Users\win7\Documents\Fonte_data\sourcePort_to_shipperId.csv
then test the program.
Need to write a summary for smelted quantity of each material.
'''

'\nWrite sample initial inventory\n\n'

In [2]:
# Import
import pandas as pd
import numpy as np

In [3]:
# Read starting inventory file

### Open transaction data
The transaction file is obtained in Horne web page/ Applications/ Rapports Horne/ MAIT/ SIGI/ Transactions de materiel.
Take the transaction dates as yesterday to today. To self: possibly use all transactions starting from a certain date. Avoids daily running of the script.

In [20]:
# Read transaction file.
dT = pd.read_csv(r'C:\Users\win7\Documents\Fonte_data\Transactions de matériel 1er dec.csv')
# Drop useless columns
dT = dT.loc[:,['TAS_ID', 'REVERSE_TAS_ID1', 'Textbox58', 'SHIPPER_CODE']]
# Rename columns
dT.columns = ['sourcePort', 'destPort', 'DMT', 'shipperCode']

dT.head(15)

    sourcePort  destPort      DMT shipperCode
0           10       210   116,96
1           10       210    33,24
2           10       210    66,04
3           10       210   583,70
4        10010        10   279,90
5        10010        47   124,40
6        10010        52  1275,10
7        10025        23    27,90
8        10025        24   279,00
9        20001       322    35,21         BCM
10       20001       322    39,37         BCM
11       20001       354    33,92        CAPE
12       20001       354    33,44        CAPE
13       20001       354    36,51        CAPE
14       20001       354    35,26        CAPE

In [21]:
# Convert comma to decimal
dT.replace(',','.', regex=True, inplace=True)
# Convert to float
dT.loc[:,'DMT'] = pd.to_numeric(dT.loc[:,'DMT'])
dT.head()

   sourcePort  destPort     DMT shipperCode
0          10       210  116.96
1          10       210   33.24
2          10       210   66.04
3          10       210  583.70
4       10010        10  279.90

In [22]:
# Keep rows if destination is to "Eglise"
# Todo eglisePorts read from csv
eglisePorts = [564,565,900,903,906,913,915,916,917,918,919,920,921,922,924,924]

dT = dT[dT['destPort'].isin(eglisePorts)]
dT.head()

    sourcePort  destPort     DMT shipperCode
36       20001       903   37.25         DUM
37       20001       903   37.30         DUM
38       20001       913   36.00        SAB2
63         312       919    5.64
64         322       564  398.77

In [23]:
# shipperCode column contains port numbers and shipper codes. If it is a port number, replace with shipper code.
# Replace empty strings with NaN
dT['shipperCode'] = dT['shipperCode'].replace(r'^\s*$', np.nan, regex=True)
dT.head()

    sourcePort  destPort     DMT shipperCode
36       20001       903   37.25         DUM
37       20001       903   37.30         DUM
38       20001       913   36.00        SAB2
63         312       919    5.64         NaN
64         322       564  398.77         NaN

In [8]:
# Assign a shipper code to source port number. shipper_code = f(source_port)
shipID = pd.read_csv(r'C:\Users\win7\Documents\Fonte_data\sourcePort_to_shipperId.csv')
shipID.head()

  ShipperID  SourcePort
0       BCM       304.0
1       PYR       498.0
2       NMP       520.0
3       NMP       521.0
4       XKM         NaN

In [9]:
# Remove row if SourcePort value is missing
shipID = shipID.loc[shipID['SourcePort'].notnull(),:]
shipID.head()

  ShipperID  SourcePort
0       BCM       304.0
1       PYR       498.0
2       NMP       520.0
3       NMP       521.0
6       MTA       304.0

In [10]:
# Create dictionary
shipID_dict = shipID.set_index('SourcePort')['ShipperID'].to_dict()
# This also works
# shipID_dict = dict(zip(shipID['SourcePort'], shipID['ShipperID']))

In [11]:
# Map shipperID to transactions
dT['shipperID'] = dT['sourcePort'].map(shipID_dict)
dT = dT[dT['shipperID'].notnull()]
dT

    sourcePort  destPort     DMT shipperCode shipperID
68         304       564   76.34         NaN       MTA
69         304       564   62.92         NaN       MTA
70         304       918   93.68         NaN       MTA
71         304       919   57.62         NaN       MTA
78         498       564  107.12         NaN       PYR
79         498       564   77.74         NaN       PYR
80         498       918  101.86         NaN       PYR
81         498       919   41.35         NaN       PYR
90         521       920   32.39         NaN       NMP

In [ ]:
# Check if shipperCode value is a letter string (not numeric)
# Todo: Display rows containing alpha shipper codes.
dT.loc[dT.loc[:,'shipperCode'].notnull(),'shipperCode'].str.isnumeric()
non_numeric_rows = ~dT.loc[dT.loc[:,'shipperCode'].notnull(),'shipperCode'].str.isnumeric()

In [ ]:
temp2 = dT.loc[dT.loc[:,'shipperCode'].notnull(),'shipperCode'].str.isnumeric()
temp2
# find a way to select rows that are notnull and not numeric...

In [ ]:
dT.shape

In [ ]:
dT.iloc[temp2,:]

In [ ]:
dT.loc[dT.loc[:,'shipperCode'].notnull(),'shipperCode'].str.isnumeric()

In [ ]:
dT.loc[dT.loc[:,'shipperCode'].notnull(),'shipperCode']

In [ ]:
dT[non_numeric_rows]

In [ ]:
dT.shape

In [ ]:
# Find rows containing non-numeric and not-null
dT.loc[non_numeric_rows,:]

In [ ]:
# ShipperCode column contains port numbers and shipper codes. 
# If it is a letter string, copy this to the shipperID column
# is not numeric how to find
dT[dT.loc[:,'shipperCode'].notnull().isnumeric()

In [19]:
# Read prior inventory
inv = pd.read_csv(r'C:\Users\win7\Documents\Fonte_data\inv2.csv', index_col=0)
inv = inv.fillna(0)

inv

,564,560,900,903,906,913,915,916,917,918,919,920,921,922,923,924,925
XKM,367.0,0.0,264.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FLI,0.0,0.0,604.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MTA,0.0,0.0,954.0,0.0,0.0,0.0,0.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Pyrite_don_rouyn_gallen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BCM,366.0,0.0,178.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DUM,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NVA,110.0,0.0,0.0,44.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
LSN_et_INC4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TIZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
EAGL,0.0,0.0,0.0,0.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NMP,0.0,0.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0
STAL,142.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DDG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FDN,165.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CUZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,49.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CLH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,113.0,0.0,0.0,0.0,0.0,0.0,0.0
BOLA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0
HGC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Capela,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TMO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
Aurubis,0.0,0.0,0.0,0.0,0.0,110.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CEZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0
CCR Tankhouse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DOW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Coarse EOL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Nettoyage,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PM Bearing,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chlore,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,178.0,0.0,0.0,0.0,0.0
Cuivre #2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79.0,0.0,0.0,0.0,0.0
Smelter Grade,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ASR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Just Refiner PM slag,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Scorie,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Brique,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sable,0.0,274.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,269.0
Concentré de scorie,0.0,0.0,0.0,0.0,0.0,308.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Fine Carbone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
Électronique Rx,155.0,38.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,68.0,133.0,31.0

In [13]:
# Add transactions to inventory
# This is the naive method, find a more elegant way later.
for j in inv.columns:
    for i in inv.index:
        for k in range(dT.shape[0]):
            if dT.iloc[k,-1] == i and str(dT.iloc[k,1])==j:
                inv.loc[i,j] += float(dT.iloc[k,2])
                print('Added '+str(dT.iloc[k,2])+' tons of '+str(i)+' to port '+str(j)+'.')
                
inv.head()

Added 76.34 tons of MTA to port 564.
Added 62.92 tons of MTA to port 564.
Added 93.68 tons of MTA to port 918.
Added 57.62 tons of MTA to port 919.
Added 32.39 tons of NMP to port 920.

,564,565,900,903,906,913,915,916,917,918,919,920,924
XKM,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0
FLI,0.00,0.0,682.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0
MTA,139.26,0.0,959.0,0.0,0.0,0.0,0.0,0.0,22.0,93.68,57.62,0.0,0.0
Pyrite_don_rouyn_gallen,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,0.00,0.00,0.0,0.0
BCM,0.00,0.0,360.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0

In [ ]:
# Read smelted transactions. This data is from the daily reactor report (rapport du reacteur)
smelt = pd.read_csv(r'C:\Users\win7\Documents\Fonte_data\smelt_2021-12-15.csv')

In [ ]:
smelt.head()

In [ ]:
# Remove mass from inv according the smelt data
for row in range(len(smelt.SourcePort)):
    for inv_port in inv.columns:
        if str(smelt.loc[row,'SourcePort']) == inv_port:
            if smelt.loc[row,'DMT']>0:
                # Skip the inventory update for the port if it is empty.
                # Because it is impossible to know which material to assign negative mass in the port.
                if ~(inv.loc[:,inv_port]!=0).any(axis=0):
                    print(('Skipped removing inventory from port {} because it is empty.'
                          ' Cannot smelt from an empty port').format(inv_port))
                    continue
                # Calculate remaining fraction in the Eglise Port
                m = 1 - smelt.loc[row,'DMT'] / inv.loc[:,inv_port].sum()
                inv.loc[:,inv_port] = inv.loc[:,inv_port] * m
                print('Removed {} dmt from port {}'.format(smelt.loc[row,'DMT'], inv_port))
                if m<0:
                    print('Caution, negative inventory in port {}: {} dmt.'.format(inv_port, inv.loc[:,inv_port].sum()))
                
inv.sum(axis=0)

In [ ]:
~(inv.loc[:,'903']!=0).any()

In [ ]:
type(inv.columns[0])

In [ ]:
inv.loc[inv.loc[:,'913']>0,'913']

In [ ]:
inv.loc[:,'913'].sum()

In [ ]:
print('lmao ''kai')